body {
    font-family: 'Open Sans', sans-serif;
    color: #34495e; background-color: #ecf0f1;
    margin: 0;
}

.image { max-width: 380px; }

#images-container {
    column-width: 300px;
    column-gap: 50px;
    width: 90%;
    max-width: 1160px;
    margin: 50px auto;
}
#single-image {
    max-width: 800px;
    max-height: 500px;
}
/*.image-container { flex: 1 1 33% }*/


/* Navigation
================================*/
#nav-logo { max-height: 100px; margin: -18px 0 -35px 0;  min-width: 70px; min-height: 100px; }
#nav-container { background: #2c3e50; }
.bar {
    display: flex;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 5px;
}
.search { flex: 1; }
.search input { width: 100%; }
nav ul { display: flex; list-style-type: none; }
nav a { color: white; text-decoration: none; }
nav a:hover { color: #1C4CB2; }
nav li { padding-right: 15px; }



/* Single Image View
================================*/

#single-image-container {
    text-align: center;
}


/* Upload Form
================================*/

#upload-container h1 { text-align: center; }
#upload-form {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
}
#upload-form input {
    padding: 20px 30px;
    font-size: 20px;
}
#upload-form button {
    padding: 15px;
    font-size: 28px;
    background-color: #1abc9c;
}
